<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntTweakBar" version="1.16.3" targetFramework="native" />
  <package id="AntTweakBar.redist" version="1.16.3" targetFramework="native" />
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="glew.v140" version="1.12.0" targetFramework="native" />
  <package id="GLMathematics" version="0.9.5.4" targetFramework="native" />
  <package id="sdl2" version="2.0.5" targetFramework="native" />
  <package id="sdl2.redist" version="2.0.5" targetFramework="native" />
</packages>